.wl-dynamic {
    margin-top: 72px;
    .wl-hot-topic {
        padding: 0 15px;
        .titles {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            h2 {
                font-size: 18px;
            }
        }
        .wl-topic {
            display: flex;
            justify-content: space-between;
            figure {
                position: relative;
                width: 48%;
                figcaption {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    line-height: 1.5em;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    background: rgba(0, 0, 0, .3);
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .wl-topic-list {
            li {
                border-bottom: 1px solid #8e8e92;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0 10px;
                    figure {
                        display: flex;
                        align-items: center;
                        img {
                            width: 38px;
                            height: 100%;
                        }
                        .wl-content {
                            margin-left: 15px;
                        }
                        figcaption {
                            margin-bottom: 8px;
                            font-size: 15px;
                            color: #595858;
                        }
                        span {
                            color: #595858;
                        }
                    }
                    .fous {
                        span {
                            padding: 2px;
                            font-size: 14px;
                            color: #b30000;
                            border-radius: 2px;
                            i {
                                color: #b30000;
                            }
                        }
                    }
                }
                .main-info {
                    padding-left: 55px;
                    article {
                        p {
                            margin-bottom: 8px;
                            line-height: 1.4em;
                            font-size: 14px;
                            color: #010101;
                        }
                    }
                    .medium {
                        .play-video {
                            position: relative;
                            .moive {
                                width: 100%;
                                height: auto;
                            }
                            .all-time {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                color: #8e8e92;
                            }
                            .play-times {
                                position: absolute;
                                left: 0;
                                top: 0;
                                color: #8e8e92;
                                i {
                                    margin-right: 6px;
                                }
                            }
                        }
                        .img-clums {
                            display: flex;
                            justify-content: space-between;
                            img {
                                width: 33%;
                                height: auto;
                            }
                        }
                        .audio-box {
                            padding: 5px;
                            background: #ececf4;
                            .audio-info {
                                display: flex;
                                justify-content: flex-start;
                                .info-face {
                                    position: relative;
                                    width: 35px;
                                    height: 35px;
                                    margin-right: 6px;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                    i {
                                        display: inline-block;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        color: #fff;
                                    }
                                }
                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    width: 85%;
                                    p {
                                        color: #333;
                                        font-size: 16px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                    }
                                    span {
                                        color: #8e8e92;
                                    }
                                }
                            }
                        }
                        .tag {
                            padding: 10px 0;
                            color: #dedede;
                        }
                        .button {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px 0;
                            span {
                                color: #e0e0e0;
                                font-size: 16px;
                            }
                            i {
                                padding-left: 4px;
                                color: #dedede;
                            }
                        }
                    }
                }
            }
        }
    }
}