.wl-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .fa {
        color: #fff;
        font-size: 18px;
    }
    .wl-header-top {
        padding: 10px;
        background: #b30000;
        .container {
            display: flex;
            justify-content: space-between;
        }
        .wl-location {
            margin-left: -8px;
            font-size: 18px;
            color: #fff;
        }
        .wl-nav {
            display: flex;
            justify-content: center;
            .wl-search {
                margin-right: 15px;
            }
        }
    }
    .wl-tabs {
        background: #f7f2ec;
        .wl-tab-list {
            display: flex;
            justify-content: space-between;
            li {
                width: 25%;
                padding: 15px 0;
                border-bottom: 2px solid transparent;
                font-size: 16px;
                text-align: center;
                &:hover {
                    border-bottom-color: #b30000;
                    color: #b30000;
                }
                &.active {
                    border-bottom-color: #b30000;
                    color: #b30000;
                }
            }
        }
    }
}

.main {
    position: relative;
    margin-top: 87px;
    padding: 0 10px;
    .wl-singer {
        position: relative;
        z-index: 100;
        li {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            width: 100%;
            border-bottom: 1px solid #b4b4ae;
            .wl-singer-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    max-width: 66px;
                    height: 66px;
                }
            }
            .wl-singer-content {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                margin-left: 10px;
                p {
                    color: #000;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                span {
                    color: #414141;
                    font-size: 14px;
                }
            }
            .wl-icon-message {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}