.wzx-radio {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, .4);
}

.wzx-radio .radio-choose {
    width: 100%;
    padding: 17px;
    border: 1px solid #d58c88;
    background: white;
}

.wzx-radio .radio-choose .choose-left {
    float: left;
    width: 50%;
}

.wzx-radio .radio-choose .choose-left i {
    display: block;
    float: left;
}

.wzx-radio .radio-choose .choose-left i img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 15px;
}

.wzx-radio .radio-choose .choose-left h3 {
    float: left;
    line-height: 40px;
    color: black;
    font-size: 16px;
}

.wzx-radio .radio-choose .choose-left h6 {
    float: left;
    color: #747474;
    font-size: 14px;
}

.wzx-radio .radio-groom {}

.wzx-radio .radio-groom .groom-nav {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cbc9bf;
}

.wzx-radio .radio-groom .groom-nav .nav-red {
    float: left;
    width: 5px;
    height: 17px;
    margin-left: -20px;
    background: red;
}

.wzx-radio .radio-groom .groom-nav span {
    margin-right: 10px;
    line-height: 16px;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.wzx-radio .radio-groom .groom-ul {
    display: flex;
    padding: 15px 0;
    justify-content: space-around;
    border-bottom: 1px solid #d1bb8d;
}

.wzx-radio .radio-groom .groom-ul figure {
    text-align: center;
    width: 25%;
}

.wzx-radio .radio-groom .groom-ul figure img {
    width: 100%;
    margin-bottom: 10px;
}

.groom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .groom-item {
        width: 30%;
        margin-bottom: 10px;
        img {
            max-width: 100%;
        }
        figcaption {
            margin-top: 10px;
            height: 2.3em;
            line-height: 1.2;
            overflow: hidden;
        }
    }
}

.radio-top {
    .radio-top-name {
        float: left;
        width: 40%;
        margin-left: 35px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        color: #b30000;
        font-size: 16px;
    }
}